App_WebReferences/ShippingCompanyService/serShippingCompany.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShippingCompany_GetAll">
        <s:complexType />
      </s:element>
      <s:element name="ShippingCompany_GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShippingCompany_GetAllResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateShippCompany">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateShippCompanyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateShippCompanyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ShippingCompany_GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:ShippingCompany_GetAll" />
  </wsdl:message>
  <wsdl:message name="ShippingCompany_GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:ShippingCompany_GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateShippCompanySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateShippCompany" />
  </wsdl:message>
  <wsdl:message name="UpdateShippCompanySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateShippCompanyResponse" />
  </wsdl:message>
  <wsdl:portType name="serShippingCompanySoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShippingCompany_GetAll">
      <wsdl:input message="tns:ShippingCompany_GetAllSoapIn" />
      <wsdl:output message="tns:ShippingCompany_GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateShippCompany">
      <wsdl:input message="tns:UpdateShippCompanySoapIn" />
      <wsdl:output message="tns:UpdateShippCompanySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serShippingCompanySoap" type="tns:serShippingCompanySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShippingCompany_GetAll">
      <soap:operation soapAction="http://tempuri.org/ShippingCompany_GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateShippCompany">
      <soap:operation soapAction="http://tempuri.org/UpdateShippCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="serShippingCompanySoap12" type="tns:serShippingCompanySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShippingCompany_GetAll">
      <soap12:operation soapAction="http://tempuri.org/ShippingCompany_GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateShippCompany">
      <soap12:operation soapAction="http://tempuri.org/UpdateShippCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serShippingCompany">
    <wsdl:port name="serShippingCompanySoap" binding="tns:serShippingCompanySoap">
      <soap:address location="http://localhost:19548/MahaplastWebApp_19.9.2012/serShippingCompany.asmx" />
    </wsdl:port>
    <wsdl:port name="serShippingCompanySoap12" binding="tns:serShippingCompanySoap12">
      <soap12:address location="http://localhost:19548/MahaplastWebApp_19.9.2012/serShippingCompany.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>