App_WebReferences/MerchantTypeService/serMerchantType.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MerchantType_GetTypename">
        <s:complexType />
      </s:element>
      <s:element name="MerchantType_GetTypenameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MerchantType_GetTypenameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MerchantType_GetAll">
        <s:complexType />
      </s:element>
      <s:element name="MerchantType_GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MerchantType_GetAllResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMerchantType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMerchantTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateMerchantTypeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="MerchantType_GetTypenameSoapIn">
    <wsdl:part name="parameters" element="tns:MerchantType_GetTypename" />
  </wsdl:message>
  <wsdl:message name="MerchantType_GetTypenameSoapOut">
    <wsdl:part name="parameters" element="tns:MerchantType_GetTypenameResponse" />
  </wsdl:message>
  <wsdl:message name="MerchantType_GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:MerchantType_GetAll" />
  </wsdl:message>
  <wsdl:message name="MerchantType_GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:MerchantType_GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMerchantTypeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMerchantType" />
  </wsdl:message>
  <wsdl:message name="UpdateMerchantTypeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMerchantTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="serMerchantTypeSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MerchantType_GetTypename">
      <wsdl:input message="tns:MerchantType_GetTypenameSoapIn" />
      <wsdl:output message="tns:MerchantType_GetTypenameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MerchantType_GetAll">
      <wsdl:input message="tns:MerchantType_GetAllSoapIn" />
      <wsdl:output message="tns:MerchantType_GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMerchantType">
      <wsdl:input message="tns:UpdateMerchantTypeSoapIn" />
      <wsdl:output message="tns:UpdateMerchantTypeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serMerchantTypeSoap" type="tns:serMerchantTypeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MerchantType_GetTypename">
      <soap:operation soapAction="http://tempuri.org/MerchantType_GetTypename" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MerchantType_GetAll">
      <soap:operation soapAction="http://tempuri.org/MerchantType_GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMerchantType">
      <soap:operation soapAction="http://tempuri.org/UpdateMerchantType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="serMerchantTypeSoap12" type="tns:serMerchantTypeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MerchantType_GetTypename">
      <soap12:operation soapAction="http://tempuri.org/MerchantType_GetTypename" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MerchantType_GetAll">
      <soap12:operation soapAction="http://tempuri.org/MerchantType_GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMerchantType">
      <soap12:operation soapAction="http://tempuri.org/UpdateMerchantType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serMerchantType">
    <wsdl:port name="serMerchantTypeSoap" binding="tns:serMerchantTypeSoap">
      <soap:address location="http://localhost:19548/MahaplastWebApp_19.9.2012/serMerchantType.asmx" />
    </wsdl:port>
    <wsdl:port name="serMerchantTypeSoap12" binding="tns:serMerchantTypeSoap12">
      <soap12:address location="http://localhost:19548/MahaplastWebApp_19.9.2012/serMerchantType.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>