App_WebReferences/SellingLead/serSellingLead.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SellingLead_GetAll">
        <s:complexType />
      </s:element>
      <s:element name="SellingLead_GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SellingLead_GetAllResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSellingLead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSellingLeadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateSellingLeadResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SellingLead_GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:SellingLead_GetAll" />
  </wsdl:message>
  <wsdl:message name="SellingLead_GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:SellingLead_GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSellingLeadSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSellingLead" />
  </wsdl:message>
  <wsdl:message name="UpdateSellingLeadSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSellingLeadResponse" />
  </wsdl:message>
  <wsdl:portType name="serSellingLeadSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SellingLead_GetAll">
      <wsdl:input message="tns:SellingLead_GetAllSoapIn" />
      <wsdl:output message="tns:SellingLead_GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSellingLead">
      <wsdl:input message="tns:UpdateSellingLeadSoapIn" />
      <wsdl:output message="tns:UpdateSellingLeadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serSellingLeadSoap" type="tns:serSellingLeadSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SellingLead_GetAll">
      <soap:operation soapAction="http://tempuri.org/SellingLead_GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSellingLead">
      <soap:operation soapAction="http://tempuri.org/UpdateSellingLead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="serSellingLeadSoap12" type="tns:serSellingLeadSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SellingLead_GetAll">
      <soap12:operation soapAction="http://tempuri.org/SellingLead_GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSellingLead">
      <soap12:operation soapAction="http://tempuri.org/UpdateSellingLead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serSellingLead">
    <wsdl:port name="serSellingLeadSoap" binding="tns:serSellingLeadSoap">
      <soap:address location="http://localhost:19548/MahaplastWebApp_19.9.2012/serSellingLead.asmx" />
    </wsdl:port>
    <wsdl:port name="serSellingLeadSoap12" binding="tns:serSellingLeadSoap12">
      <soap12:address location="http://localhost:19548/MahaplastWebApp_19.9.2012/serSellingLead.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>