App_WebReferences/GenderService/serGender.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Gender_GetAll">
        <s:complexType />
      </s:element>
      <s:element name="Gender_GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Gender_GetAllResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateGender">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateGenderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateGenderResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="Gender_GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:Gender_GetAll" />
  </wsdl:message>
  <wsdl:message name="Gender_GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:Gender_GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateGenderSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateGender" />
  </wsdl:message>
  <wsdl:message name="UpdateGenderSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateGenderResponse" />
  </wsdl:message>
  <wsdl:portType name="serGenderSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Gender_GetAll">
      <wsdl:input message="tns:Gender_GetAllSoapIn" />
      <wsdl:output message="tns:Gender_GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGender">
      <wsdl:input message="tns:UpdateGenderSoapIn" />
      <wsdl:output message="tns:UpdateGenderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serGenderSoap" type="tns:serGenderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Gender_GetAll">
      <soap:operation soapAction="http://tempuri.org/Gender_GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGender">
      <soap:operation soapAction="http://tempuri.org/UpdateGender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="serGenderSoap12" type="tns:serGenderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Gender_GetAll">
      <soap12:operation soapAction="http://tempuri.org/Gender_GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGender">
      <soap12:operation soapAction="http://tempuri.org/UpdateGender" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serGender">
    <wsdl:port name="serGenderSoap" binding="tns:serGenderSoap">
      <soap:address location="http://localhost:19548/MahaplastWebApp_19.9.2012/serGender.asmx" />
    </wsdl:port>
    <wsdl:port name="serGenderSoap12" binding="tns:serGenderSoap12">
      <soap12:address location="http://localhost:19548/MahaplastWebApp_19.9.2012/serGender.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>