App_WebReferences/PaymentTypeService/serPaymentType.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PaymentType_GetPaymentType">
        <s:complexType />
      </s:element>
      <s:element name="PaymentType_GetPaymentTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PaymentType_GetPaymentTypeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePaymentType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePaymentTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdatePaymentTypeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="PaymentType_GetPaymentTypeSoapIn">
    <wsdl:part name="parameters" element="tns:PaymentType_GetPaymentType" />
  </wsdl:message>
  <wsdl:message name="PaymentType_GetPaymentTypeSoapOut">
    <wsdl:part name="parameters" element="tns:PaymentType_GetPaymentTypeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePaymentTypeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePaymentType" />
  </wsdl:message>
  <wsdl:message name="UpdatePaymentTypeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePaymentTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="serPaymentTypeSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PaymentType_GetPaymentType">
      <wsdl:input message="tns:PaymentType_GetPaymentTypeSoapIn" />
      <wsdl:output message="tns:PaymentType_GetPaymentTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePaymentType">
      <wsdl:input message="tns:UpdatePaymentTypeSoapIn" />
      <wsdl:output message="tns:UpdatePaymentTypeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serPaymentTypeSoap" type="tns:serPaymentTypeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentType_GetPaymentType">
      <soap:operation soapAction="http://tempuri.org/PaymentType_GetPaymentType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePaymentType">
      <soap:operation soapAction="http://tempuri.org/UpdatePaymentType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="serPaymentTypeSoap12" type="tns:serPaymentTypeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentType_GetPaymentType">
      <soap12:operation soapAction="http://tempuri.org/PaymentType_GetPaymentType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePaymentType">
      <soap12:operation soapAction="http://tempuri.org/UpdatePaymentType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serPaymentType">
    <wsdl:port name="serPaymentTypeSoap" binding="tns:serPaymentTypeSoap">
      <soap:address location="http://localhost:19548/MahaplastWebApp_19.9.2012/serPaymentType.asmx" />
    </wsdl:port>
    <wsdl:port name="serPaymentTypeSoap12" binding="tns:serPaymentTypeSoap12">
      <soap12:address location="http://localhost:19548/MahaplastWebApp_19.9.2012/serPaymentType.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>